<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crystal.Reports.Essentials" version="13.0.15.1840" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="Extended.Wpf.Toolkit" version="2.6" targetFramework="net40" />
  <package id="Oracle.ManagedDataAccess" version="12.1.2400" targetFramework="net40" />
</packages>

